*{
  padding: 0;
  margin: 0;
}
body{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #06181f;
}
.container{
  position: relative;
  width: 800px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.container .icon{
  width: 200px;
}
.container .icon path {
  fill: transparent;
  stroke-width: 10;
  stroke: #31e8ff;
}